<% content_for :title, @organisation.name %>

<div class="md:flex">

  <div class="w-full md:max-w-xs px-4 md:mb-8 md:sticky h-full py-8">

    <div class="mb-4">
      <a href="<%= organisations_path %>" class="link">‹ Back to organisations</a>
    </div>

    <h1 class="font-lexenddeca text-3xl text-brand-navy mb-6 leading-tight"><%= @organisation.name %></h1>

    <ul>
      <li class="border-b py-2"><a href="#summary" class="link" data-turbolinks="false">Summary</a></li>
      <li class="border-b py-2"><a href="#import-info" class="link" data-turbolinks="false">Import info</a></li>
      <li class="py-2"><a href="#activity" class="link" data-turbolinks="false">Activity</a></li>
    </ul>

    <div class="px-4 py-2 md:mt-8 bg-red-100 text-red-800">Please note that some values are currently hardcoded in this view for demonstration purposes.</div>
  </div>

  <div class="flex-1 mb-8 md:ml-8">
    <section id="summary" class="pt-8">
      <div class="bg-white border border-gray-200 shadow-md overflow-hidden sm:rounded-lg">
        <div class="px-4 py-4 border-b border-gray-200 sm:px-6 bg-gray-100">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Summary
          </h3>
          <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-600">
            Overview of the organisation.
          </p>
        </div>
        <div>
          <dl>
            <div class="bg-gray-50 px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm leading-5 font-medium text-gray-600">
                Theme
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <%= @organisation.subsector || '<em class="text-gray-600">Not known</em>'.html_safe %>
              </dd>
            </div>
            <div class="bg-gray-50 px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm leading-5 font-medium text-gray-600">
                Digital maturity
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <%= @organisation.maturity || '<em class="text-gray-600">Not known</em>'.html_safe %>
              </dd>
            </div>
            <div class="bg-gray-50 px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm leading-5 font-medium text-gray-600">
                Anchor organisation
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <%= @organisation.anchor_org || '<em class="text-gray-600">Not known</em>'.html_safe %>
              </dd>
            </div>
            <div class="bg-gray-50 px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm leading-5 font-medium text-gray-600">
                Capacity of org to engage
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <em class="text-gray-600">Not known</em>
              </dd>
            </div>
            <div class="bg-gray-50 px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm leading-5 font-medium text-gray-600">
                Charity number
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <%= @organisation.charity_number || '<em class="text-gray-600">Not known</em>'.html_safe %>

                <% if @organisation.charity_number %>
                  <ul class="border border-gray-200 rounded-md mt-2">
                    <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm leading-5 border-b">
                      <em class="ml-2 flex-1 w-0 truncate text-gray-600">
                        Data for financial year ending <%= @organisation.income_fy&.strftime("%e %B %Y") %>
                      </em>
                    </li>
                    <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm leading-5 border-b">
                      <div class="w-0 flex-1 flex items-center ml-2">
                          Employees
                      </div>
                      <div class="ml-4 flex-shrink-0">
                        <%= @organisation.employee_count || '<em class="text-gray-600">Not known</em>'.html_safe %>
                      </div>
                    </li>
                    <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm leading-5">
                      <div class="w-0 flex-1 flex items-center ml-2">
                          Volunteers
                      </div>
                      <div class="ml-4 flex-shrink-0">
                        <%= @organisation.volunteer_count || '<em class="text-gray-600">Not known</em>'.html_safe %>
                      </div>
                    </li>
                    <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm leading-5">
                      <div class="w-0 flex-1 flex items-center ml-2">
                          Income
                      </div>
                      <div class="ml-4 flex-shrink-0">
                        <%= number_to_currency(@organisation.income, unit: '£', precision: 0) || '<em class="text-gray-600">Not known</em>'.html_safe %>
                      </div>
                    </li>
                  </ul>
                <% end %>
              </dd>
            </div>
            <div class="bg-gray-50 px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm leading-5 font-medium text-gray-600">
                Company number
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <%= @organisation.company_number || '<em class="text-gray-600">Not known</em>'.html_safe %>
              </dd>
            </div>
            <div class="bg-gray-50 px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm leading-5 font-medium text-gray-600">
                Location
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <%= @organisation.region || '<em class="text-gray-600">Not known</em>'.html_safe %>
              </dd>
            </div>
            <div class="bg-white px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm leading-5 font-medium text-gray-600">
                Contacts (<%= @organisation.users.size %>)
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <ul class="border border-gray-200 rounded-md">
                  <%- @organisation.users.each do |user| %>
                    <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm leading-5">
                      <div class="w-0 flex-1 flex items-center">
                        <span class="ml-2 flex-1 w-0 truncate">
                          <%= user.email %>
                        </span>
                      </div>
                      <div class="ml-4 flex-shrink-0">
                        <%= user.affiliations.first.try(:details) %>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </section>

    <section id="import-info" class="pt-8">
      <div class="align-middle inline-block min-w-full shadow-md overflow-hidden sm:rounded-lg border border-gray-200">
        <div class="px-4 py-5 border-b border-gray-200 sm:px-6 bg-gray-100">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Import info
          </h3>
          <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-600">
            Details from data import.
          </p>
        </div>
        <div class="bg-gray-50 px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm leading-5 font-medium text-gray-600">
            For manual review
          </dt>
          <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
            <%= @organisation.for_review %>
          </dd>
        </div>
        <div class="bg-gray-50 px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm leading-5 font-medium text-gray-600">
            Org ids
          </dt>
          <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
            <%= @organisation.org_ids.any? ? @organisation.org_ids : '<em class="text-gray-600">Not known</em>'.html_safe %>
          </dd>
        </div>
        <div class="bg-gray-50 px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm leading-5 font-medium text-gray-600">
            Potential org ids
          </dt>
          <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
            <%= @organisation.potential_org_ids.any? ? @organisation.potential_org_ids : '<em class="text-gray-600">Not known</em>'.html_safe %>
          </dd>
        </div>

      </div>
    </section>

    <section id="activity" class="py-8">
      <div class="align-middle inline-block min-w-full shadow-md overflow-hidden sm:rounded-lg border border-gray-200">
        <div class="px-4 py-5 border-b border-gray-200 sm:px-6 bg-gray-100">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Activity
          </h3>
          <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-600">
            How have people affiliated with this organisation interacted with the Catalyst network?
          </p>
        </div>
        <%- @organisation.actions.order(start_time: :desc).each do |action| %>
          <div class="border-b border-gray-200 px-6 py-4 text-sm leading-5 font-medium text-gray-900">
            <p class="font-medium text-gray-900">
              <strong><%= action.start_time.strftime('%d %b %Y') %>:</strong>
              <%= action.potential_action.name %>
            </p>
            <p class="text-gray-600"><%= action.details.try(:[], 'email') %></p>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</div>
