

<div class="md:flex">

  <div class="w-full md:max-w-xs px-4 md:mb-8 md:sticky h-full py-8">

    <div class="mb-4">
      <a href="<%= organisations_path %>" class="link">‹ Back to organisations</a>
    </div>

    <h1 class="font-lexenddeca text-3xl text-brand-navy mb-6 leading-tight"><%= @organisation.name %></h1>

    <ul>
      <li class="border-b py-2"><a href="#summary" class="link" data-turbolinks="false">Summary</a></li>
      <li class="border-b py-2"><a href="#support-requests" class="link" data-turbolinks="false">Support requests</a></li>
      <li class="border-b py-2"><a href="#partnerships" class="link" data-turbolinks="false">Partnerships</a></li>
      <li class="py-2"><a href="#support-provided" class="link" data-turbolinks="false">Activity</a></li>
    </ul>
  </div>

  <div class="flex-1 mb-8 md:ml-8">

    <div class="px-4 py-2 md:mt-8 bg-red-100 text-red-800">Please note that many values are currently hardcoded in this view.</div>

    <section id="summary" class="pt-8">
      <div class="bg-white border border-gray-200 shadow-md overflow-hidden sm:rounded-lg">
        <div class="px-4 py-4 border-b border-gray-200 sm:px-6 bg-gray-100">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Summary
          </h3>
          <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-600">
            Overview of the organisation.
          </p>
        </div>
        <div>
          <dl>
            <div class="bg-gray-50 px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm leading-5 font-medium text-gray-600">
                Theme
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <p class="link">Children and young people</p>
              </dd>
            </div>
            <div class="bg-gray-50 px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm leading-5 font-medium text-gray-600">
                Theme other
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <em class="text-gray-600">Not provided</em>
              </dd>
            </div>
            <div class="bg-gray-50 px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm leading-5 font-medium text-gray-600">
                Digital maturity
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <select>
                  <option>Curious</option>
                  <option>Starting out</option>
                  <option>Advancing</option>
                </select>
              </dd>
            </div>
            <div class="bg-gray-50 px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm leading-5 font-medium text-gray-600">
                Anchor organisation
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                No
              </dd>
            </div>
            <div class="bg-gray-50 px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm leading-5 font-medium text-gray-600">
                Capacity of org to engage
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <em class="text-gray-600">Not provided</em>
              </dd>
            </div>
            <div class="bg-gray-50 px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm leading-5 font-medium text-gray-600">
                Charity number
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <%= @organisation.charity_number || '<em class="text-gray-600">Not known</em>'.html_safe %>
                
				<% if @organisation.charity_number %>
                <ul class="border border-gray-200 rounded-md mt-2">
                  <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm leading-5 border-b">
                    <em class="ml-2 flex-1 w-0 truncate text-gray-600">
                      Data for financial year ending <%= @organisation.income_fy&.strftime("%e %B %Y") %>
                    </em>
                  </li>
                  <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm leading-5 border-b">
                    <div class="w-0 flex-1 flex items-center ml-2">
                        Employees
                    </div>
                    <div class="ml-4 flex-shrink-0">
                      <%= @organisation.employee_count || '<em class="text-gray-600">Not known</em>'.html_safe %>
                    </div>
                  </li>
                  <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm leading-5">
                    <div class="w-0 flex-1 flex items-center ml-2">
                        Volunteers
                    </div>
                    <div class="ml-4 flex-shrink-0">
                      <%= @organisation.volunteer_count || '<em class="text-gray-600">Not known</em>'.html_safe %>
                    </div>
                  </li>
                  <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm leading-5">
                    <div class="w-0 flex-1 flex items-center ml-2">
                        Income
                    </div>
                    <div class="ml-4 flex-shrink-0">
                       <%= number_to_currency(@organisation.income, unit: '£', precision: 0) || '<em class="text-gray-600">Not known</em>'.html_safe %>
                    </div>
                  </li>
                </ul>
            	<% end %>
              </dd>
            </div>
            <div class="bg-gray-50 px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm leading-5 font-medium text-gray-600">
                Company number
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <%= @organisation.company_number || '<em class="text-gray-600">Not known</em>'.html_safe %>
              </dd>
            </div>
            <div class="bg-gray-50 px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm leading-5 font-medium text-gray-600">
                Location
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <%= @organisation.region %>
                <details class="text-xs text-gray-600">
                  <summary class="link">Dev notes</summary>
                  <p>
                    "Project delivery locations will be used and clustered into to ONS England regions – records to be classified by a single value:", from Covid-19 EDA data requirements - Confidential and not for onward sharing.docx. We'll likely have to add regions for elsewhere in the UK.
                  </p>
                </details>
              </dd>
            </div>
            <div class="bg-white px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm leading-5 font-medium text-gray-600">
                Affiliates (<%= @organisation.users.size %>)
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <ul class="border border-gray-200 rounded-md">

                  <%- @organisation.users.each do |user| %>
                    <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm leading-5">
                      <div class="w-0 flex-1 flex items-center">
                        <span class="ml-2 flex-1 w-0 truncate">
                          <%= user.email %>
                        </span>
                      </div>
                      <div class="ml-4 flex-shrink-0">
                        <%= user.affiliations.first.try(:details) %>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </dd>
            </div>
            <div class="bg-white px-4 py-4 sm:px-6 border border-gray-200 bg-gray-100">
              <h4 class="text-md leading-6 font-medium text-gray-900">
                Funder reporting
              </h4>
              <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-600">
                Data required for COVID-19 External Delegation Agreement (EDA).
              </p>
            </div>
            <div class="bg-white px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm leading-5 font-medium text-gray-600">
                COVID-19 Theme &amp; Category
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <select class="w-full">
                  <optgroup label="Organisations providing services and support for vulnerable people, for which there will be increased demand as a result of the COVID-19 crisis">
                    <option>Organisations who connect with older people</option>
                    <option>Organisations who connect with disabled people</option>
                    <option>Organisations who provide advice and support to people who are pushed into crisis</option>
                    <option>Organisations supporting those who are in medical care or end of life care</option>
                  </optgroup>
                  <optgroup label="Organisations supporting people and communities who experience disproportionate challenge and difficulties a result of the Covid-19 crisis">
                    <option>Organisations providing essential items directly to families who are hit hardest</option>
                    <option>Organisations who support people who experience health inequalities</option>
                    <option>Organisations who support people who experience loneliness and social isolation</option>
                    <option>Organisations who support people who experience poor mental health</option>
                    <option>Organisations who support children and young people to achieve their potential</option>
                  </optgroup>
                  <optgroup label="Organisations whichconnect communities andsupport communities towork together to respond to Covid-19">
                    <option>Organisations supporting local community activity, including volunteering, and community organising</option>
                    <option>Organisations supporting community and sector infrastructure, including public information</option>
                    <option>Organisations supporting digital, data and technology capabilities</option>
                  </optgroup>
                  <optgroup label="Other">
                    <option>Please specify</option>
                  </optgroup>
                </select>
                <details class="text-xs text-gray-600">
                  <summary class="link">Dev notes</summary>
                  <p>
                    "The following taxonomy of priority organisations will be used – records to be classified by a single value", from Covid-19 EDA data requirements - Confidential and not for onward sharing.docx.
                  </p>
                </details>
              </dd>
            </div>
            <div class="bg-white px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm leading-5 font-medium text-gray-600">
                COVID-19 intended impact
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <ul class="list-disc ml-4">
                  <li>Social connections and relationships are supported to help prevent chronic loneliness and isolation</li>
                  <li>Charities are more digitally capable and able to introduce new ways of working and connecting communities</li>
                </ul>
              </dd>
            </div>
            <div class="bg-white px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm leading-5 font-medium text-gray-600">
                % leadership with lived experience
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <em class="text-gray-600">Not provided</em>
                <details class="text-xs text-gray-600">
                  <summary class="link">Dev notes</summary>
                  <p>
                    "The following banding will be used to indicate whether or not a majority of the leadership of applicant organisations has relevant lived experience of the issue being addressed – records to be classified by a single value: Yes (&gt;50%); No (&lt;=50%).", from Covid-19 EDA data requirements - Confidential and not for onward sharing.docx. Considerations should also be taken for signalling/recording when this snapshot was taken.
                  </p>
                </details>
              </dd>
            </div>
            <div class="bg-white px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm leading-5 font-medium text-gray-600">
                Works with people from a particular ethnic background
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                E.g. African; Any other Asian background; Any other Black/African/Caribbean
              </dd>
            </div>
            <div class="bg-white px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm leading-5 font-medium text-gray-600">
                Works with LGBT people
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <em class="text-gray-600">Not provided</em>
              </dd>
            </div>
            <div class="bg-white px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm leading-5 font-medium text-gray-600">
                Works with disabled people
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <em class="text-gray-600">Not provided</em>
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </section>

    <section id="support-requests" class="pt-8">
      <div class="align-middle inline-block min-w-full shadow-md overflow-hidden sm:rounded-lg border border-gray-200">
        <div class="px-4 py-5 border-b border-gray-200 sm:px-6 bg-gray-100">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Support requests
          </h3>
          <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-600">
            Requests from members of this organisation for support and signposting from the Catalyst network.
          </p>
        </div>
        <table class="min-w-full">
          <thead>
            <tr>
              <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">
                Date
              </th>
              <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">
                Source
              </th>
              <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">
                Status
              </th>
            </tr>
          </thead>
          <tbody class="bg-white">
            <%- @organisation.tickets.each do |ticket| %>
              <tr>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <div class="text-sm leading-5 font-medium text-gray-900 link"><%= ticket.created_at.strftime('%d %b %Y') %></div>
                </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <div class="text-sm leading-5 text-gray-900">Nesta form</div>
                </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                    Open
                  </span>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </section>

    <section id="partnerships" class="pt-8">
      <div class="align-middle inline-block min-w-full shadow-md overflow-hidden sm:rounded-lg border border-gray-200">
        <div class="px-4 py-5 border-b border-gray-200 sm:px-6 bg-gray-100">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Partnerships
          </h3>
          <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-600">
            The partnerships this organisation is a member of.
          </p>
        </div>
        <div class="border-b border-gray-200 px-6 py-4 text-sm">
          <p class="font-medium text-gray-900"><span class="link">Emergency digital pivot</span> (Complete)</p>
          <p class="text-gray-600">Action West London, Superhighways and We Are Open Co-op</p>
        </div>
      </div>
    </section>

    <section id="support-provided" class="py-8">
      <div class="align-middle inline-block min-w-full shadow-md overflow-hidden sm:rounded-lg border border-gray-200">
        <div class="px-4 py-5 border-b border-gray-200 sm:px-6 bg-gray-100">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Activity
          </h3>
          <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-600">
            How have people affiliated with this organisation interacted with the Catalyst network?
          </p>
        </div>
        <%- @organisation.actions.each do |action| %>
          <div class="border-b border-gray-200 px-6 py-4 text-sm leading-5 font-medium text-gray-900">
            <b><%= action.start_time.strftime("%Y %b %d") %>:</b> <%= action.get_string() %>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</div>
