<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title><%= "#{yield(:title)} | " if content_for?(:title) %>Catalyst Support</title>

    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../favicon-16x16.png" type="image/png">
    <link rel="shortcut icon" href="../favicon-32x32.png" type="image/png">
    <link rel="shortcut icon" href="../favicon-96x96.png" type="image/png">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="flex flex-col h-screen">
    <header>
      <nav class="bg-brand-navy border-b-8 border-brand-green">
        <div class="outer-container py-5 flex justify-between">
          <%= link_to root_path do %>
            <%= image_tag('logo-white.svg', height: 24, width: 87) %>
          <% end %>
          <div>
            <%= link_to 'Home', root_path, class: "text-white font-semibold hover:underline mr-5#{active_nav?(controller: 'statics', action: 'index')}" %>
            <%= link_to 'Organisations', organisations_path, class: "text-white font-semibold hover:underline#{active_nav?(controller: 'organisations', action: 'index')}" %>
            <%- if admin_signed_in? %>
              <%= link_to 'Sign out', destroy_admin_session_path, method: :delete, class: "text-white font-semibold hover:underline ml-5" %>
            <% end %>
          </div>
        </div>
      </nav>

      <div class="outer-container">
        <div class="py-2 border-b">
          <div class="inline-flex text-white text-xs font-semibold tracking-widest uppercase bg-phase-alpha px-3 py-1 mr-1">Alpha</div>
          This is a new service – your <a href="mailto:hello@thecatalyst.org.uk?subject=Catalyst%20Support%20Feedback" class="underline">feedback</a> will help us to improve it.
        </div>
      </div>

      <div class="outer-container">
        <%- if notice %>
          <div class="px-4 py-2 mt-4 bg-indigo-100 text-indigo-800"><%= notice %></div>
        <% end %>
        <%- if alert %>
          <div class="px-4 py-2 mt-4 bg-red-100 text-red-800"><%= alert %></div>
        <% end %>
      </div>
    </header>

    <main class="flex-1">
      <div class="outer-container h-full">
        <%= yield %>
      </div>
    </main>

    <footer  class="bg-brand-navy-5">
      <div class="outer-container py-8">
        <%= image_tag('logo-navy.svg', height: 40, width: 123) %>
      </div>
    </footer>
  </body>
</html>
